/*  цвет акцент  #2196F3  
    цвет h1   #FFFFFF
    цвет заголовков  #212121
    цвет основного текста #757575
    цвет фона hero и address #2F303A
    цвет секции сотрудники #F5F4FA
    цвет лого #000000
    цвет мейл и телефон футера rgba(255, 255, 255, 0.6)
    цвет иконок #AFB1B8

*/

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --icon-color: #AFB1B8;
    --shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
    background-color: #ffffff;
    color: var(--primery-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

/* logo */

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo span {
    color: var(--accent-color);
}

/* header */

.head,
.site-navigation,
.site-nav {
    display: flex;
    align-items: center;
}

.site-nav .item:not(:last-child),
.aside .item:not(:last-child) {
    margin-right: 50px;
}

/* .site-nav .item + .item {
    margin-left: 50px;
} */

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: center;
}

.site-nav .link-studio {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: center;
}

.site-nav .link-portfolio {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: center;
}

.site-nav .link:hover,
.site-nav .link:focus,
.aside-link:hover,
.aside-link:focus,
.footer-contacts a:hover,
.footer-contacts a:focus {
    color: var(--accent-color);
}

.aside {
    display: flex;
    margin-left: auto;
}

.aside-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.aside-mail {
    margin-right: 10px;
    fill: currentColor;
    
}

.aside-tel {
    margin-right: 10px;
    fill: currentColor;

}

.aside-mail:hover,
.aside-tel:hover {
    fill: var(--accent-color);
}

/*  hero */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../imeges/background-img.jpg");
    background-position: center;   
    background-color: #C4C4C4;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30;

    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    border-radius: 4px;
    border: 0px;
    padding: 10px 32px;

    color: #ffffff;
    background-color: var(--accent-color);
    font-size: 16px;
    min-width: 200px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: #ffffff;
    background-color: #188CE8;
}

/* features */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-box {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    background-color: #F5F4FA;
}

.features-icon {
    display: flex;
}

.features-list,
.work-list,
.team-list {
    display: flex;
}

.features-list .item {
    width: 270px;
}

.features-list .item:not(:last-child) {
    margin-right: 30px;
}

.features-title {
    margin-bottom: 10px;
    margin-top: 0px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    margin-top: 0;
    margin-bottom: 0px;

    font-size: 14px;
    line-height: 1.7;
}

/* work and team section */

.work {
    padding-bottom: 94px;
}

.work-list .item:not(:last-child),
.team-list .item:not(:last-child) {
    margin-right: 30px;
}

.work-title,
.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.work-title {
    margin-top: 0;
    margin-bottom: 50px;
}

/* team */

.team-content {
    padding: 30px;

    background: #FFFFFF;
    box-shadow: var(--shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.team-member {
    margin-top: 0px;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #f5f4fa;
}

.social-list {
    display: flex;
    margin-top: 16px;
    padding: 0;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-link,
.socials-link {
    display: flex;
    justify-content: space-around;
    height: 44px;
    width: 44px;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
    background-position: center;
    color: var(--icon-color);
}

.social-icon,
.socials-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;  
}

.social-link:hover,
.social-link:focus {
    color: #ffffff;
    background-color:var(--accent-color);
}

/* clients */

.clients-title {
    margin-top: 0px;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
}

.clients-item {
    width: 170px;
    height: 92px;
    outline: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: var(--icon-color);
  
}
.clients-icon {
    margin-right: 0px;
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.clients-item:hover,
.clients-item:focus {
    outline: 1px solid var(--accent-color);
    border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
}


/* footer */

.container-footer {
    display: flex;
    align-items: baseline;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;
}

.socials-box {
    margin-left: 70px;
}

.socials-title {
    margin: 0 0 20px 0;

    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.socials-list {
    display: flex;
    margin: 0px;
    padding: 0;
}

.socials-link {
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center;
    color: #ffffff;
}

.socials-item:not(:last-child) {
    margin-right: 10px;
}

.socials-link:hover,
.socials-link:focus {
    color: #ffffff;
    background-color: var(--accent-color);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;

    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.footer-logo span {
    color: var(--accent-color);
}

.footer-contacts {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}

.footer-contacts a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}


/* modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    border-radius: 4px;

    background-color: #ffffff;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(46, 29, 29, 0.1);
}

.close-icon {
    width: 18px;
    height: 18px;
    fill: #000000;
}


.close-button:active,
.close-button:hover {
    background-color: rgba(157, 154, 154, 0.1);
    cursor: pointer;
}

.button-box {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 8px;
    padding-right: 8px;
}


/* Portfolio */

.line {
    border-bottom: 1px solid #ECECEC;
}

.buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.button-portfolio {
    padding: 6px 22px;
    
    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}

.btn {
    margin-right: 8px;
}

.btn:last-child {
    margin-right: 0px;
}

.button-portfolio:hover, 
.button-portfolio:focus {
    color: #ffffff;
    background-color: var(--accent-color);
}

.all-content {
    padding-top: 94px;
    padding-bottom: 94px;
}

.all-content a {
    text-decoration: none;
}

.all-content .title {
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.all-content .text {
    margin-top: 4px;
    margin-bottom: 0px;

    color: var(--primery-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-link {
    display: block;
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:nth-child(3n) {
    margin-right: 0px;
}

.project:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.project-content {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

/* .projects {
    display: flex;
    flex-wrap: wrap;

    margin-right: -30px;
    margin-bottom: -30px;
}

.project {
    flex-basis: calc(100% / 3 - 60px);
    margin-right: 30px;
    margin-bottom: 30px;
} */

