.features {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 480px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__caption {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__box {
        display: flex;
        height: 120px;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    
        background-color: #F5F4FA;

        @media screen and (max-width: 480px) {
            width: 100%;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__icon {
        display: flex;
        
    }
    
    &__list {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
        }
        
    }
        
    &__item {
        
        @media screen and (max-width: 767px) {
            width: 100%;
        }

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;

            & :not(:last-child) {
                margin-right: 30px;
            }
        }
        
    }
    
    
    &__title {
        margin-bottom: 10px;
        margin-top: 0px;
    
        color: $title-text-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        
        
        @media screen and (max-width: 767px) {
            text-align: center;
        }
        
    }
    
    &__text {
        margin-top: 0;
        margin-bottom: 0px;
    
        font-size: 14px;
        line-height: 1.7;

        @media screen and (max-width: 480px) {
            margin-bottom: 30px;
        }

        @media screen and (max-width: 480px) {
            & :last-child {
            margin-bottom: 0px;
            }
        }
        
    }
}