.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;

    &__container {
        display: flex;
        align-items: baseline;
        width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    &__logo {
        display: block;
        margin-bottom: 20px;
    
        color: #ffffff;

        & span {
            color: $accent-color;
        }
    }
    
   
    
    &__contacts {
        color: #ffffff;
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;

        & a {
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        & a:hover,
        & a:focus {
            color: $accent-color;
        }
    }

}

.subscribe {
    display: flex;
    align-items: flex-end;

    &__form {
        margin-left: 93px;
    }
    
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    
    &__input {
        padding: 15px 16px;
        width: 358px;
        height: 50px;
        background-color: #2F303A;
        color: #ffffff;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    }

    &__button {
        position: relative;
        display: inline-flex;
        color: #ffffff;
    
        padding: 10px 62px 10px 29px;
        margin-left: 12px;
    
        font-weight: 700;
        font-family: inherit;
        line-height: 1.9;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        &:hover {
            background-color: #188CE8;
        }
    }
    
    &__icon {
        position: absolute;
        right: 29px;
        top: 13px;
        width: 24px;
        height: 24px;
    }
}

