.hero {

    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    

    @media screen and (min-width: 320px) {
           background-image: url(../imeges/hero.img/header-mob@1x.jpg);
    
           @media (min-device-pixel-ratio),
           (min-resolution: 2dppx),
            (min-resolution: 192dpi) {
               background-image:  url(../imeges/hero.img/header-mob@2x.jpg);
           }
        }    
    
        @media screen and (min-width: 768px) {
            background-image: url(../imeges/hero.img/header-tablet@1x.jpg); 
    
            @media (min-device-pixel-ratio),
            (min-resolution: 2dppx),
            (min-resolution: 192dpi) {
                background-image: url(../imeges/hero.img/header-tablet@2x.jpg);
            }
        }
    
        @media screen and (min-width: 1200px) {
            background-image: url(../imeges/hero.img/header-display@1x.jpg);
    
            @media (min-device-pixel-ratio),
            (min-resolution: 2dppx),
            (min-resolution: 192dpi) {
                background-image: url(../imeges/hero.img/header-display@2x.jpg); 
            }
        }

    background-blend-mode: overlay;
    background-color: rgba(47, 48, 58, 0.4);    
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../../imeges/background-img.jpg");
  
    background-position: center;
    background-size: cover;
    

    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }

    @media screen and (max-width: 1199px) {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 30;
            
        color: #ffffff;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (max-width: 1139px) {
            font-size: 26px;
            line-height: 1.6;
            margin-bottom: 32px;
        }
    }

    &__button {
            
        color: #ffffff;
        text-align: center;

        &:hover,
        &:focus {
            color: #ffffff;
            background-color: #188CE8;
            
        }
    }

}

