.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity, 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    
    &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(0.5);
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    border-radius: 4px;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__inner {
        width: 100%;
        padding: 2px 40px 40px 40px;
    }
    
    &__title {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: $title-text-color;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
    
        color: #ffffff;
        font-size: inherit;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        margin-right: auto;
        margin-left: auto;
    }
    
    &__button:hover,
    &__button:focus {
        background-color: #188CE8;
        cursor: pointer;
    }
}

.close {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 8px;
    padding-right: 8px;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid rgba(46, 29, 29, 0.1);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__button:active,
    &__button:hover {
        fill: $accent-color;
        cursor: pointer;
    }
    
    &__icon {
        width: 18px;
        height: 18px;
    }
}

.form {
    &__field {
        margin-bottom: 10px;
    }
    
    &__label {
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
    }

    &__input {
        width: 100%;
        height: 40px;
        background-color: #ffffff;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 0 12px 0 42px;
        outline: none;
        transition: border-color
        250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        
    &__input:focus {
        border-color: $accent-color;
    }

    &__input::placeholder {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    
    &__textarea {
        height: 120px;
        resize: none;
        padding: 12px 16px;
    }

    &__icon {
        position: absolute;
        transform: translate(-435px, 11px);
        width: 18px;
        height: 18px;
        fill: #000000;
        transition: background-color
        250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__input:focus ~ .form__icon {
        fill: $accent-color;
    }
}

.checkbox {
    position: relative;
    display: flex;
    margin-left: 10px;

    &__rule {
        color: $accent-color;
    }

    &__input:checked + .checkbox__input--mark {
        border: $accent-color;
        background-color: $accent-color;
    }
    
    &__input:checked + .checkbox__input--mark .icon-check {
        opacity: 1;
        transition: opacity 2050ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__label {
        padding-left: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.7;
    }
    
    &__input--mark {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 15px;
        margin-top: 14px;
        border: 2px solid #000000;
        border-radius: 2px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input:checked + .checkbox__input--mark {
        border: $accent-color;
        background-color: $accent-color;
    }
    
    &__input:checked + .checkbox__input--mark .icon-check {
        opacity: 1;
        transition: opacity 2050ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__label {
        padding-left: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.7;
    }
    
    &__input--mark {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 15px;
        margin-top: 14px;
        border: 2px solid #000000;
        border-radius: 2px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.icon-check {
    width: 16px;
    height: 15px;
}
