.team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #f5f4fa;

    &__title {
        margin-top: 0;
        margin-bottom: 50px;
    }
    
    &__content {
        padding: 30px;
    
        background: #FFFFFF;
        box-shadow: $shadow;
        border-radius: 0px 0px 4px 4px;
    }
    
    &__member {
        margin-top: 0px;
        margin-bottom: 10px;
    
        color: $title-text-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center; 
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
    
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
    
    &__list {
        display: flex;
    }
    
    &__item:not(:last-child) {
        margin-right: 30px;
    }
    
    &__title {
        color: $title-text-color;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
    }
}
